{{#contentFor 'scripts'}}
    <!-- require.js handles script loading -->
    <script type="text/javascript" data-main="/scripts/dragon"
            src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js"></script>
{{/contentFor}}

<main class="dragon-main mdl-layout__content dragon-home">
    <div class="dragon-container mdl-grid">
        <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        <div class="dragon-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <a href="/{{url}}/edit"
               class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored dragon-button-edit">
                <i class="material-icons">edit</i>
            </a>
            {{{ content }}}

        </div>
    </div>

    <footer class="dragon-footer mdl-mini-footer">
        <div class="mdl-mini-footer--left-section">
            &copy;
            <?=date( 'Y')?> THLabs.net
        </div>
        <div class="mdl-mini-footer--right-section">
            Powered by <a href="https://github.com/THLabs/dragon-wiki">Dragon</a>
        </div>
    </footer>

</main>