<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.grey-red.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Roboto:700,400italic,400|Roboto+Condensed:300|Roboto+Mono|Roboto+Slab">
    <link rel="stylesheet" href="/stylesheets/highlight.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    {{{block "stylesheets"}}}

</head>

<body>
<div class="dragon-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
    <header class="dragon-header mdl-layout__header mdl-layout__header--waterfall mdl-color--white mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"><a href="/">dragon</a></span>

            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>

                <div class="mdl-textfield__expandable-holder">
                    <form ng-submit="" action="search" method="post">
                        <input class="mdl-textfield__input" type="text" id="search"/>
                        <label class="mdl-textfield__label" for="search">Enter your query...</label>
                    </form>
                </div>
            </div>
        </div>
    </header>

    {{{ body }}}

</div>

<script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
{{{block "scripts"}}}

</body>

</html>
