html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

strong, b{
  font-weight: 700;
}

h1 {
  font-family: "Roboto Slab","Helvetica","Arial",sans-serif;   
}



.dragon-header .mdl-layout__header-row {
  padding-left: 40px;
}

.dragon-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.dragon-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.dragon-layout.is-small-screen .demo-content {
  padding: 40px 28px;
}

.dragon-content h3 {
  margin-top: 48px;
}

.dragon-footer {
  padding-left: 40px;
}

.dragon-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}
.mdl-layout-title {
    font-family: "Roboto Condensed","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    font-size: 24px;
}
.mdl-layout-title a{
    text-decoration: none;
}
